.homebanner {
  background-image: url("./images/nimbus_home.jpg");
  background-size: 100% 100%;
}

.responsivetext{
	font-size: 2.3vmin;
}

.grey{
  color: white;
}

.white{
  color: white;
}

.btn_oy{
  background-color: #f48c41;
  border: none;
  text-align: center;
}

.btn_oy:hover{
  background-color: #f46441;
  border: none;
  text-align: center;
}

.content-pad {
  padding-top: 3.5rem;
}

.bgimg {
    background-image: './images/nimbus_home.jpg';
}
