.homebanner {
  background-image: url("./images/nimbus_home.jpg");
  background-size: 100% 100%;
}

.grey{
  color: white;
}

.white{
  color: white;
}

.btn_oy{
  background-color: #f48c41;
  border: none;
  text-align: center;
}

.btn_oy:hover{
  background-color: #f46441;
  border: none;
  text-align: center;
}

body {
  padding-top: 3.5rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bgimg {
    background-image: './images/nimbus_home.jpg';
}
